<div id="<%= dom_id recipe %>">
  <p>
    <strong>Id:</strong>
    <%= recipe.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Making time:</strong>
    <%= recipe.making_time %>
  </p>

  <p>
    <strong>Serves:</strong>
    <%= recipe.serves %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= recipe.cost %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= recipe.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= recipe.updated_at %>
  </p>

</div>
